/node_modules
/public/hot
/public/storage
/public/admin/sertificats
/public/admin/contracts
/public/admin/images/qrcodes
/public/admin/images/students
/public/admin/images/circled-images
/public/admin/images/idcards
/public/admin/images/staffs
/public/admin/images/waitingstudents
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
