.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
.add_new{
    float: right;
}

.students-title{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.students-title p{
    font-weight: 600;
    font-size: 24px;
}
.box-header {
    font-size: 22px;
}
.skin-blue .main-header .navbar, .skin-blue .main-header li.user-header{
    background-color: #355467;
}

.skin-blue .main-header .logo{
    background-color: #1c394a;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: #071e2b;
}
.skin-blue .sidebar a{
    color: rgb(248, 234, 234);
}
.skin-blue .sidebar-menu>li>a{
    font-size: 18px;
}
.skin-blue .sidebar-menu>li.active>a{
    background-color: #355467;
}