.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
.add_new{
    float: right;
}

.students-title{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.students-title p{
    font-weight: 600;
    font-size: 24px;
}
.box-header {
    font-size: 22px;
}
