.edu-panel-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.edu-panel-top__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1340DE;
    margin-bottom: 10px;
}

.edu-panel-top__btn:hover {
    opacity: 0.8;
}

.edu-panel-top__btn:active {
    opacity: 0.6;
}

.edu-panel-top__btn + .edu-panel-top__btn {
    margin-left: 17px;
}

/* .edu-panel-top__icon {
    width: 24px;
    height: 24px;
} */

.edu-panel-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    grid-gap: 15px;
    overflow-x: auto;
}

.edu-panel-header {
    min-height:115px ;
    /* Foreground, Background */
    /* border-radius: 20px; */
    /* scrollbar-color: #999 #333; */
  }
  .edu-panel-header::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 7px; /* Mostly for horizontal scrollbars */
  }
  .edu-panel-header::-webkit-scrollbar-thumb { /* Foreground */
    border-radius: 10px;
    background: #999;
  }
  .edu-panel-header::-webkit-scrollbar-track { /* Background */
    padding: 5px 0;
    /* background: #333; */
  }

.edu-panel-header__box {
    position: relative;
    min-width: 300px;
}

.edu-panel-header__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #1B274A;
    margin-bottom: 17px;
}

.drop-down {
    max-width: 213px;
    position: relative;
}

.edu-panel-header__drop-btn {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 18px;
    color: #4D525B;
}

.edu-panel-header-icon {
    margin-right: 30px;
}

#dropdown__button {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #444444 !important;
    min-width: 100%;
    height: 55px;
    text-align: left;
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 40px;
    cursor: pointer;
}

.form-select:focus {
    /* border-color: transparent !important; */
    outline: none !important;
    box-shadow: none !important;
}

.edu-panel-header__box::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 16px;
    background-image: url("../img/chart-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.edu-panel-header__box::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 8px;
    top: 55px;
    right: 16px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.edu-panel-header__box:nth-child(2)::before {
    background-image: url("../img/Work.svg");
}

.edu-panel-header__box:nth-child(3)::before {
    background-image: url("../img/Activity.svg");
}

.edu-panel-header__box:nth-child(4)::before {
    background-image: url("../img/Graph.svg");
}

.edu-panel-header__box:nth-child(5)::before {
    content: none;
}

.edu-panel-header__box:nth-child(5)::after {
    content: none;
}

.edu-panel-select__option {
    font-size: 14px;
}

.edu-panel-header__search {
    padding: 0 50px 0 15px;
    width: 300px !important;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
    color: #4D525B;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #fff;
}

.edu-panel-header__search::placeholder {
    font-size: 12px;
    font-weight: 600;
}

.edu-panel-header__search-btn {
    position: absolute;
    top: 60%;
    right: 10%;
    width: 15px;
    height: 15px;
    border: none;
    background: url("../img/search.svg") no-repeat;
    background-size: cover;
    background-color: transparent;
}